# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven #
target/

# Gradle #
build/

# IntelliJ IDEA #
.idea/
*.iws
*.iml
*.ipr

# Eclipse #
.classpath
.project
.settings/
*.launch

# NetBeans #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code #
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db